body {
    background-color: #24272f;
    display: flex;
    justify-content: center;
}

.App {
    margin-top: 15vh;
}

.card1,
.card2 {
    width: 60vw;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrdx,
.arrsx {
    height: 40px;
    color: #24272f;
}
.arrdx:active,
.arrsx:active {
    color: #363942;
}

.resetButton {
    color: #24272f;
    margin-left: 85%;
    height: 40px;
}
.resetButton:active {
    color: #363942;
}

span {
    margin-left: 10vw;
    margin-right: 10vw;

    font-family: "Ubuntu", sans-serif;
    font-size: 27px;
    font-weight: bolder;
    color: #1f1f20;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color: #1f1f20;
}

.card1 {
    background-color: #fb859c;
}

.card2 {
    background-color: #36dbd9;
}

@media (max-width: 500px) {
    .App {
        margin-top: 10vh;
        -webkit-tap-highlight-color: "transparent";
    }

    .card1,
    .card2 {
        width: 90vw;
        height: 35vh;
    }
    h2 {
        margin-top: 5vh;
        font-size: 50px;
    }
    span {
        font-size: 47px;
    }

    .arrdx,
    .arrsx {
        height: 47px;
        color: #24272f;
    }
}
