body {
    background-color: #24272f;
    display: flex;
    justify-content: center;
}

.App {
    margin-top: 12.5vh;
}

.card1,
.card2,
.card3 {
    width: 50vw;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

span {
    margin-left: 10vw;
    margin-right: 10vw;

    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
}

button {
    background-color: #24272f;
    color: white;
}
button:active {
    background-color: #363942;
}

.card1 {
    background-color: #fb859c;
}

.card2 {
    background-color: #36dbd9;
}

.card3 {
    background-color: #909cff;
}

@media (max-width: 500px) {
    .App {
        margin-top: 5vh;
        -webkit-tap-highlight-color: "transparent";
    }

    .card1,
    .card2,
    .card3 {
        width: 90vw;
        height: 25vh;
        margin-top: 5vh;
    }
    h2 {
        margin: 3vh;
        font-size: 45px;
    }
    button {
        font-size: 25px;
    }
    span {
        font-size: 40px;
    }
}
